body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #E9E3CD;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#male,
#female,
#men,
#women {
    margin-right:15px;
    margin-left: 10px;
}

.hearts img {
    width: 730px;
    background-color: #881745;
}
.hearts{
    background-color: #881745;
    height: 800px;
    padding: 0px;
}

#landing {
    background-color: #881745;
    position:fixed;
    margin: 0 auto;
    text-align: center;
}
.tagline {
    color: white;
    font-size: 45px;
    font-family: "Fugaz One", Helvetica, Arial, sans-serif;
    margin: 50px 0 0 0;
    margin: 50px;
}
.sub-tagline {
    color: white;
    font-size: 30px;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    margin:30px;
}
.title, .title a {
    color: white;
    font-size: 20px;
    font-family: "Fugaz One", Helvetica, Arial, sans-serif;
    text-decoration: none;

}

.page-title{
    color: #881745;
    font-size: 50px;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    margin:30px;
}

.white-page-title{
    color: white;
    font-size: 40px;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    margin:30px;
    text-align: center;
}

.red-color {
 background-color: #CF4542;
 padding: 40px;

}

section.quiz {
    margin-left: 300px;
}

.profileform {
  margin: 30px;
}

div input {
    background-color: #EAE4CE;
}
label {
    color: white;
}

input.form-control{
     background-color: #EAE4CE;
}
textarea.form-control{
     background-color: #EAE4CE;
}
select.form-control{
     background-color: #EAE4CE;
}
.question {
     color: white;
    font-size: 40px;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
}
.border-left {
  border-radius: 8px 0 0 8px;
}
.border-right {
  border-radius: 0 8px 8px 0;
}

.card {
    background-color: #881745;
    border-radius: 8px;
    padding: 30px;
    margin: 20px ;


}
.center {
    margin: 0 auto;
    text-align: center;
}

.question-label{

}

.btn {
    margin: 20px;
}



