@{
    ViewBag.Title = "Home Page";
}

@section Scripts {
    <script src="~/AngularApp/RouteConfig.js"></script>
    <script src="~/AngularApp/ProfileFactory.js"></script>
    <script src="~/AngularApp/Controllers/ProfileController.js"></script>
    <script src="~/AngularApp/JS/modernizr.custom.js"></script>
    <script src="~/AngularApp/JS/svgcheckbx.js"></script>

    
}
<div ng-app="HaterDateApp">
    <div ng-view>

    </div>
</div>


